@model IEnumerable<RegisterMVC.Models.SClass>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SClassID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SClassID })
        </td>
    </tr>
}

</table>
