@model IEnumerable<RegisterMVC.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="~/News/Index">Ogłoszenia</a></li>
            <li><a href="~/GradeLists">Baza ocen</a></li>
            <li><a href="~/Parent/Frequency">Frekwencja</a></li>
            <li><a href="~/Parent/Reprimands">Uwagi</a></li>
            <li class="active"><a href="~/Parent/Message">Wiadomości<span class="badge">4</span></a></li>
            <li><a href="~/Parent/Statistics">Statystki</a></li>
            <li><a href="~/Parent/UserPanel">Panel użytkownika</a></li>
        </ul>
    </div>
</nav>
<h2>Baza nauczycieli</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SClass.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SClassID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SClass.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SClassID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherID })
        </td>
    </tr>
}

</table>
